@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');


:root {
  --el-color-primary: #58aaff;
  --el-color-red: #f56c6c;
  --el-bg-red: #FFE4E1;
  --el-bg-blue: #f0f8ff;
}

html {
   padding: 0px;
   margin: 0px;
   font-family: "Noto Sans SC", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   color: #606266;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  box-sizing: border-box;
}


body{
  padding: 0px;
  margin: 0px;
  /* width: 100vw;
  height: 100vh; */
}